<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="RIVS.ASAK.Core.Tools"/>
  </extensions>

  <variable name="logFolder" value="${basedir}Logs"/>

  <include file="${machinename}.config" ignoreErrors="true"/>

  <targets>
    <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
    <target name="fileData" xsi:type="File" fileName="${logFolder}\${machinename} ${shortdate}.log" concurrentWrites="true" archiveAboveSize="9000000" encoding="utf-8">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout">
          <text>${counter}:&#09;${longdate}&#09;${level}&#09;ThreadId=${threadid}&#09;${message}&#09;&#09;&#09;${exception:format=type,message,stacktrace:innerExceptionSeparator=&#13;&#10; &#09;&#09;&#09;InnerException&#09;&#09;&#09;:maxInnerExceptionLevel=5:innerFormat=type,message,stacktrace}</text>
        </layout>
        <header xsi:type="SimpleLayout">
          <text>
            ${longdate} Логирование процесса ${processname} начато пользователем Machine=${machinename} User='${windows-identity}'
          </text>
        </header>
        <footer xsi:type="SimpleLayout">
          <text>
            ${longdate}-------------------------------------------------------------------------------------------------------------------------------------${newline}
            ${longdate} Логирование процесса ${processname} окончено. Время исполнения: '${processtime}'
            ${newline}
          </text>
        </footer>
      </layout>
    </target>
    <target name="errorFileData" xsi:type="File" fileName="${logFolder}\${machinename} ${shortdate} errors.log" concurrentWrites="true"  archiveAboveSize="9000000" encoding="utf-8">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout">
          <text>${counter}:&#09;${longdate}&#09;${level}&#09;ThreadId=${threadid}&#09;${message}&#09;&#09;&#09;${exception:format=type,message,stacktrace:innerExceptionSeparator=&#13;&#10; &#09;&#09;&#09;InnerException&#09;&#09;&#09;:maxInnerExceptionLevel=5:innerFormat=type,message,stacktrace}</text>
        </layout>
        <header xsi:type="SimpleLayout">
          <text>
            ${longdate} Логирование процесса ${processname} начато пользователем Machine=${machinename} User='${windows-identity}'
          </text>
        </header>
        <footer xsi:type="SimpleLayout">
          <text>
            ${longdate}-------------------------------------------------------------------------------------------------------------------------------------${newline}
            ${longdate} Логирование процесса ${processname} окончено. Время исполнения: '${processtime}'
            ${newline}
          </text>
        </footer>
      </layout>
    </target>

    <target name="ScanningController" xsi:type="File" fileName="${logFolder}\${machinename} ${shortdate} ScanningController.log" concurrentWrites="true"  archiveAboveSize="9000000" encoding="utf-8">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout">
          <text>${counter}:&#09;${longdate}&#09;${level}&#09;ThreadId=${threadid}&#09;${message}&#09;&#09;&#09;${exception:format=type,message,stacktrace:innerExceptionSeparator=&#13;&#10; &#09;&#09;&#09;InnerException&#09;&#09;&#09;:maxInnerExceptionLevel=5:innerFormat=type,message,stacktrace}</text>
        </layout>
        <header xsi:type="SimpleLayout">
          <text>
            ${longdate} Логирование процесса ${processname} начато пользователем Machine=${machinename} User='${windows-identity}'
          </text>
        </header>
        <footer xsi:type="SimpleLayout">
          <text>
            ${longdate}-------------------------------------------------------------------------------------------------------------------------------------${newline}
            ${longdate} Логирование процесса ${processname} окончено. Время исполнения: '${processtime}'
            ${newline}
          </text>
        </footer>
      </layout>
    </target>

    <target name="ScanningWorkItem" xsi:type="File" fileName="${logFolder}\${machinename} ${shortdate} ScanningWorkItem.log" concurrentWrites="true"  archiveAboveSize="9000000" encoding="utf-8">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout">
          <text>${counter}:&#09;${longdate}&#09;${level}&#09;ThreadId=${threadid}&#09;${message}&#09;&#09;&#09;${exception:format=type,message,stacktrace:innerExceptionSeparator=&#13;&#10; &#09;&#09;&#09;InnerException&#09;&#09;&#09;:maxInnerExceptionLevel=5:innerFormat=type,message,stacktrace}</text>
        </layout>
        <header xsi:type="SimpleLayout">
          <text>
            ${longdate} Логирование процесса ${processname} начато пользователем Machine=${machinename} User='${windows-identity}'
          </text>
        </header>
        <footer xsi:type="SimpleLayout">
          <text>
            ${longdate}-------------------------------------------------------------------------------------------------------------------------------------${newline}
            ${longdate} Логирование процесса ${processname} окончено. Время исполнения: '${processtime}'
            ${newline}
          </text>
        </footer>
      </layout>
    </target>
    
    <target name="CommandConsoleDebugOutputTarget" xsi:type="CommandConsoleDebugOutputTarget">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout">
          <text>${counter}:&#09;${longdate}&#09;${level}&#09;ThreadId=${threadid}&#09;${message}&#09;&#09;&#09;${exception:format=type,message,stacktrace:innerExceptionSeparator=&#13;&#10; &#09;&#09;&#09;InnerException&#09;&#09;&#09;:maxInnerExceptionLevel=5:innerFormat=type,message,stacktrace}</text>
        </layout>
        <header xsi:type="SimpleLayout">
          <text>
            ${longdate} Логирование процесса ${processname} начато пользователем Machine=${machinename} User='${windows-identity}'
          </text>
        </header>
        <footer xsi:type="SimpleLayout">
          <text>
            ${longdate}-------------------------------------------------------------------------------------------------------------------------------------${newline}
            ${longdate} Логирование процесса ${processname} окончено. Время исполнения: '${processtime}'
            ${newline}
          </text>
        </footer>
      </layout>
    </target>

    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="RIVSASAKDebugOutputTarget" />
    <logger name="*" minlevel="Trace" writeTo="fileData" />
    <logger name="*" minlevel="Warn" writeTo="errorFileData" />
    <!--logger name="*" minlevel="Trace" writeTo="TcpOutlet" /-->

    <logger name="*" minlevel="Debug" writeTo="CommandConsoleDebugOutputTarget" />
  </rules>

</nlog>
